@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

@import 'scss/base';
@import 'scss/layout';
@import 'scss/components';
@import 'scss/mailer';
